* {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: rgb(204, 204, 204);
    font-family: 'Monteserat', Arial, sans-serif;
}

header,
.Projects,
nav,
section,
aside,
footer,
h1 {
    text-align: center;
    border-radius: 7px;
    padding: 25px;
    box-shadow: 0 10px 15px rgba(0,0,0,.08);
}

header {
    width: 25%;
    margin: 25px 25px 25px 25px;
    display: inline-block;
    font-size: larger;
    background-color: rgb(204, 204, 204);
}

nav {
    width: calc(75% - 75px);
    margin: 25px 25px 25px 0px;
    float: right;
    background-color: #ffffff;
    display: flex;
}

aside {
    width: 25%;
    float: left;
    min-height: 600px;
    background-color: #ffffff;
}

section {
    float: left;
    width: calc(75% - 75px);
    margin: 0 25px 25px 25px;
    background-color: #ffffff;
}

section header,
section article,
section footer {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    margin: 25px 0px 0px 0px;
    padding: 50px;
}

footer {
    width: 96.5%;
    margin: 25px 25px 0px 25px;
    clear: both;
    background-color: rgb(204, 204, 204);
    text-align: left;
}

article {
    background-color: rgb(204, 204, 204);
    text-align: left;
}

h1 {
    width: 25%;
    margin: 25px 25px 25px 25px;
    display: inline-block;
    font-size: larger;
    background-color: #ffffff;
}

a {
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

img {
    border-radius: 5%;
}

li, ul {
    background-color: rgb(204, 204, 204);
}

.Projects {
    background-color: rgb(204, 204, 204);
    padding: 3px;
    margin: 3px;
    width: 33%;
}
p {
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(204, 204, 204);
}

.Facts {
    padding: 2px;
    margin: 4px;
    text-align: left;
}

.E-Port {
    padding-left: 0%;
}

i {
    background-color: rgb(204, 204, 204);
}

.azure {
    background-color: rgb(204, 204, 204);
}

.Contacts {
    width: 95%;
    float: none;
    margin-top: 30px;
}

.Pjs {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

input {
    background-color: #ffffff);
    margin: 5px;
    display: flex;
}

form {
    background-color: rgb(204, 204, 204);
    flex-direction: row;
}

label {
    background-color: rgb(204, 204, 204);
}

textarea {
    background-color: rgb(204, 204, 204);
}

a:hover {
    color: rgb(255, 0, 0);
}

div {
    background-color: #6e0000;
    width: 110%;
    height: 25px;
    margin-top: -10px;
}
